Bug: Created appointments contain a faulty mail address

My installation(s) (same behavior on both systems)
- Nextcloud 18.0.8 (on ubuntu 18 LTS) Apache 2.4 Appointments 1.6.8
- Nextcloud 19.0.1 (docker) Apache 2.4 Appointments 1.6.8

Steps to reproduce:
1. Setup appointments using external calendars (I created a FreeSlots and a BookedSlots calendar)
2. Create an appointment with your mail "mymail@domain.com"
3. The corresonding date contains the mail "acct:mymail@domain.com" as participant. Within the date description the contact dates are correct.

This leads to a problem if you change the appointment later, using the nextcloud calender or another calender tool connected via caldav. The receipient does not get an Mail information, because of the faulty mail.

Same problem here....


@papst01 
I think this is fixed in version 1.71
Could you please test again and close this issue?

> @papst01
> I think this is fixed in version 1.71
> Could you please test again and close this issue?

Not really ok, but better. The attached ics files in the confirmation mails don't contain 
`PARTSTAT=ACCEPTED:acct:mymail@domain.com` any more
now it's 
`PARTSTAT=ACCEPTED:mailto:mymail@domain.com`

In general it looks good while using Thunderbird and the calendar plugin. The attendee gets mail updates if I change the appointment in the corresponding thunderbird calendar. But it still looks strange, if I click on the appointment and try to invite further attendees I can still can see the "acct:mymail@domain.com" 

**BUT:** 
If I use outlook (the prefered environment in my company) it clearly complains that the mail address is invalid. And if I try to change the appointment in Outlook, the attendee don't get mails with the updated information :(
If I download the appointment from the nextcloud calendar directly I can find a line like this in the ics file:
`SCHEDULE-AGENT=CLIENT:mailto:acct:mymail@domain.com`
Even if I update the appointment in the nextcloud calendar the attendee don't get an update


@SergeyMosin 
Could you look into this? 
Best
T.

In addition to this app's emails controlled via ``Settings >> Email Settings``, Nextcloud wants to send a **generic** "Invitation: ... etc..." email when an event is created or significantly changed.
According the specs ([ RFC6638 Section-7.1](https://tools.ietf.org/html/rfc6638#section-7.1)) ``SCHEDULE-AGENT`` parameter can be used to stop this behavior. Unfortunately, Nextcloud (more precisely it's DAV server - sabre) only support the ``CLIENT`` value I filed a [bug report here](https://github.com/sabre-io/dav/issues/1293).
So when the ``SCHEDULE-AGENT=CLIENT`` is used it DOES stop the Nextcloud server from sending the generic email, BUT causes external clients like Mac-calendar to send different but also **very generic** emails. So to stop that instead of using the  ``SCHEDULE-AGENT``  the ``acct`` scheme is used to stop BOTH Nextcloud AND clients from sending out emails for "Appointments"
Using the ``acct`` is within the specs [RFC 2445 - 4.3.3   Calendar User Address](https://tools.ietf.org/html/rfc2445#section-4.3.3):
>Description: The value is a URI as defined by [RFC 1738] or any other
 IANA registered form for a URI. When used to address an Internet
 email transport address for a calendar user, the value MUST be a
 MAILTO URI, as defined by [RFC 1738]. No additional content value
 encoding (i.e., BACKSLASH character encoding) is defined for this
 value type.

Since we DO NOT WANT ``to address an Internet email transport`` the ``acct`` scheme is used - [specs here](https://tools.ietf.org/html/rfc7565). 

@papst01 
In ``SCHEDULE-AGENT=CLIENT:mailto:acct:mymail@domain.com`` it looks like BOTH the ``SCHEDULE-AGENT=CLIENT`` and ``acct`` are used. Do you know which version of Appointments app was used to create it ?
I do not have Outlook to test with at the moment, can you book and then move an appointment using the latest version( v1.7.2) and then post the "ATTENDEE" line here.

 

It was the 1.7.1 version i used. 
Now I updated to 1.7.2: Downloaded the ics dircetly from the nextcloud calendar and got this:
`ATTENDEE;CN=[Name I've chosen];PARTSTAT=ACCEPTED:acct:mymail@domain.com`
Using outlook with the caldav attached calendar (I'm using the caldav synchronizer btw), opened the appointment and the attendee is `acct:mymail@domain.com` :-(

v1.7.3 defaults to  ``SCHEDULE-AGENT=CLIENT`` and ``mailto:`` scheme for the ATTENDEE prop and no ``SCHEDULE-AGENT`` for the ORGANIZER prop. With this setup there should not be any double mailing issues and  ``mailto:`` scheme should keep the client software happy.
@papst01 I have tested it with Mac Calendar, but I am not sure about the caldav synchronizer + outlook combo.


On my MacOS environment, it is working perfectly now: 

- moving appointments is creating a new message for attendee with links to confirm or deny the new date
- confirmation produces notification email for attendee with .ics file
- and notification email for me with confirmed date. Calendar will update itself. 

Great job, @SergeyMosin !

@papst01 
From my point of view, this ticket can now be closed. If you agree, please go ahead and close it. Thanks.

@SergeyMosin  yes looks good. Issue is solved. Thank u!