No timezones

Syncing to my local calendar app displays all appointment slots at 1:00 AM instead of 9:00 and `.ics` download shows no timezone info.

Should use timezone as set in calendar app on Nextcloud.

Appointment times are set in local or "floating" timezone.

[RFC 5545, Section 3.3.5](https://tools.ietf.org/html/rfc5545#section-3.3.5)
> DATE-TIME values of this type are said to be "floating" and are not bound to any time zone in particular.  They are used to represent the same hour, minute, and second value regardless of which time zone is currently being observed.

Especially with plans to attach `.ics` files to outgoing emails, appointments in attendee's calendar would be of by whatever the timezone offset is if they are booking from a different timezone but planing to travel to your location.
What is your "local calendar app". What happens if you create an event in Nextcloud calendar and set timezone to "floating" manually, does your "local calendar app" display the right time?
However, nothing is set in stone and I might add an option for time zone selection down the road.    


Can only answer what calendar I use at the moment. Gnome Calendar. Seems to interpret it as UTC. 

Yes you right Gnome Calendar incorrectly interprets floating time as UTC. There is an open issue
at https://gitlab.gnome.org/GNOME/gnome-calendar/issues/171 and even a patch, but i don't think the patch have been merged. I'll give that issue a bump later, if you can you should do the same.

Thanks


v1.1.4 "appointment generator" has timezone support, but if you can you should report the bug to the Gnome  Calendar team.